check process kochiku-worker with pidfile /home/kochiku/kochiku-worker/shared/pids/kochiku-worker.pid
  start program "/etc/init.d/kochiku-worker start"
  stop program "/etc/init.d/kochiku-worker stop"
  mode active
  group kochiku
  if 15 restarts within 15 cycles then timeout